# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# Virtual Environments
# =====================
venv/
.env/
.venv/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Data & Artifacts
# =====================
artifacts/
data/
*.csv
*.parquet

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# MLflow
# =====================
mlruns/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Credentials (CRITICAL)
# =====================
*.json
credentials/
